<h3>Create a User</h3>
<%= form_with model: @user do |form| %>
  <%= form.text_field :user_name, placeholder: "Enter name here.." %>
  <%= form.text_field :user_email, placeholder: "Enter email here.." %>
 
  <%= form.submit %>
<% end %>