<h1>Welcome Home Page</h1>

<%= button_to "Download CSV File", home_csv_path, method: :get%>
<%= button_to "Download pdf File", home_pdf_path, method: :get%>
<%= button_to "Fire a mail", home_mail_to_path, method: :get%>
